@using Microsoft.Data.SqlClient
@using System.Data      @*DataTable, DataRow*@
@using System.Text.Json

@{
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

@{
    /*
    * Do trong Controller truyền ra DataTable nên Model tương đương vs DataTable
    * Cấu trúc của biến DataList: tenbien.tencot
    * Cấu trúc của biến DataTable: tenbien["tencot"]
   */
    // Model.Rows[0]["Name"] có nghĩa là lấy hàng đầu tiên của biến DataTable
    string _Name = Model != null ? Model.Rows[0]["Name"].ToString() : "";
    int _ParentId = Model != null ? Convert.ToInt32(Model.Rows[0]["ParentId"].ToString()) : 0;
}

@functions {
    // liệt kê các danh mục cấp 0 (sử dụng ADO)
    public DataTable GetCategories()
    {
        DataTable dtCategories = new DataTable();
        var config = new ConfigurationBuilder().SetBasePath(Directory.GetCurrentDirectory()).AddJsonFile("appsettings.json").Build();
        string strConnectionString = config.GetConnectionString("MyConnectionString").ToString();
        using (SqlConnection conn = new SqlConnection(strConnectionString))
        {
            // tạo đối tượng DataAdapter để truyền câu lệnh truy vấn và lấy kết quả
            SqlDataAdapter da = new SqlDataAdapter("select * from Categories where ParentId = 0 order by Id desc", conn);
            // Fill dữ liệu từ da vào DataTable
            da.Fill(dtCategories);
        }
        return dtCategories;
    }
}

<div class="flex flex-col items-start justify-center w-full px-10 pt-5 pb-20 lg:pt-20 lg:flex-row">
    <div class="relative z-10 w-full max-w-2xl mt-20 lg:mt-0 lg:w-5/12">
        <div class="relative z-10 flex flex-col items-start justify-start p-10 bg-white shadow-2xl rounded-xl">
            <h4 class="w-full text-4xl font-medium leading-snug">Thêm sửa danh mục</h4>
            <form class="relative w-full mt-6 space-y-8" method="post" action="@ViewBag.action">
                <div class="relative">
                    <label class="absolute px-2 ml-2 -mt-3 font-medium text-gray-600 bg-white">Name</label>
                    <input type="text" id="input_name" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black" value="@_Name" name="Name" placeholder="Nhập tên sản phẩm">
                    <!-- Display validation error if any -->
                    <span class="text-red-500">@Html.ValidationMessage("Name")</span>
                </div>
                <div class="relative">
                    <label class="absolute px-2 ml-2 -mt-3 font-medium text-gray-600 bg-white">Danh mục cha</label>
                    <select class="block w-full py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black" name="ParentId">
                        <option value="0">-- Chọn hãng sản phẩm --</option>
                        @{
                            DataTable categories = GetCategories();
                        }

                        @foreach (DataRow row in categories.Rows)
                        {
                            string str_selected = Model != null && Convert.ToInt32(row["Id"]) == Convert.ToInt32(Model.Rows[0]["ParentId"]) ? "selected" : "";
                            <option @str_selected value="@row["Id"]">@row["Name"]</option>
                        }
                    </select>
                </div>
                <div class="relative">
                    <input type="checkbox" class="inline-block" @if (Model != null && Convert.ToInt32(Model.Rows[0]["DisplayHomePage"]) == 1)
                    {
                        <text>checked</text>
                    } name="DisplayHomePage" id="DisplayHomePage">
                    <label for="DisplayHomePage" class="absolute px-2 ml-2 -mt-0 font-medium text-gray-600 bg-white">Hiện thị danh sách này ở trang chủ</label>
                </div>
                <div class="relative">
                    <button type="submit" class="inline-block w-full px-5 py-2 text-xl font-medium text-center text-white transition duration-200 bg-blue-600 rounded-lg hover:bg-blue-500 ease">Lưu thông tin</button>
                </div>
                <!-- rows -->
                <div class="row" style="margin: 10px 0; font-size: 1.5rem; text-align: right;">
                    <div class="col-md-2" style="font-size: 1.5rem;"></div>
                    <div class="row" style="margin: 10px 0; font-size: 1.2rem; text-align: right;">
                        <div class="text-blue-500 hover:text-red-300">
                            <a href="/Admin/Categories/Read">Quay lại</a>
                        </div>
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
        <svg class="absolute top-0 left-0 z-0 w-32 h-32 -mt-12 -ml-12 text-gray-200 fill-current" viewBox="0 0 91 91" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill-rule="evenodd">
                <g fill-rule="nonzero">
                    <g>
                        <g>
                            <circle cx="3.261" cy="3.445" r="2.72"></circle>
                            <circle cx="15.296" cy="3.445" r="2.719"></circle>
                            <circle cx="27.333" cy="3.445" r="2.72"></circle>
                            <circle cx="39.369" cy="3.445" r="2.72"></circle>
                            <circle cx="51.405" cy="3.445" r="2.72"></circle>
                            <circle cx="63.441" cy="3.445" r="2.72"></circle>
                            <circle cx="75.479" cy="3.445" r="2.72"></circle>
                            <circle cx="87.514" cy="3.445" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 12)">
                            <circle cx="3.261" cy="3.525" r="2.72"></circle>
                            <circle cx="15.296" cy="3.525" r="2.719"></circle>
                            <circle cx="27.333" cy="3.525" r="2.72"></circle>
                            <circle cx="39.369" cy="3.525" r="2.72"></circle>
                            <circle cx="51.405" cy="3.525" r="2.72"></circle>
                            <circle cx="63.441" cy="3.525" r="2.72"></circle>
                            <circle cx="75.479" cy="3.525" r="2.72"></circle>
                            <circle cx="87.514" cy="3.525" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 24)">
                            <circle cx="3.261" cy="3.605" r="2.72"></circle>
                            <circle cx="15.296" cy="3.605" r="2.719"></circle>
                            <circle cx="27.333" cy="3.605" r="2.72"></circle>
                            <circle cx="39.369" cy="3.605" r="2.72"></circle>
                            <circle cx="51.405" cy="3.605" r="2.72"></circle>
                            <circle cx="63.441" cy="3.605" r="2.72"></circle>
                            <circle cx="75.479" cy="3.605" r="2.72"></circle>
                            <circle cx="87.514" cy="3.605" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 36)">
                            <circle cx="3.261" cy="3.686" r="2.72"></circle>
                            <circle cx="15.296" cy="3.686" r="2.719"></circle>
                            <circle cx="27.333" cy="3.686" r="2.72"></circle>
                            <circle cx="39.369" cy="3.686" r="2.72"></circle>
                            <circle cx="51.405" cy="3.686" r="2.72"></circle>
                            <circle cx="63.441" cy="3.686" r="2.72"></circle>
                            <circle cx="75.479" cy="3.686" r="2.72"></circle>
                            <circle cx="87.514" cy="3.686" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 49)">
                            <circle cx="3.261" cy="2.767" r="2.72"></circle>
                            <circle cx="15.296" cy="2.767" r="2.719"></circle>
                            <circle cx="27.333" cy="2.767" r="2.72"></circle>
                            <circle cx="39.369" cy="2.767" r="2.72"></circle>
                            <circle cx="51.405" cy="2.767" r="2.72"></circle>
                            <circle cx="63.441" cy="2.767" r="2.72"></circle>
                            <circle cx="75.479" cy="2.767" r="2.72"></circle>
                            <circle cx="87.514" cy="2.767" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 61)">
                            <circle cx="3.261" cy="2.846" r="2.72"></circle>
                            <circle cx="15.296" cy="2.846" r="2.719"></circle>
                            <circle cx="27.333" cy="2.846" r="2.72"></circle>
                            <circle cx="39.369" cy="2.846" r="2.72"></circle>
                            <circle cx="51.405" cy="2.846" r="2.72"></circle>
                            <circle cx="63.441" cy="2.846" r="2.72"></circle>
                            <circle cx="75.479" cy="2.846" r="2.72"></circle>
                            <circle cx="87.514" cy="2.846" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 73)">
                            <circle cx="3.261" cy="2.926" r="2.72"></circle>
                            <circle cx="15.296" cy="2.926" r="2.719"></circle>
                            <circle cx="27.333" cy="2.926" r="2.72"></circle>
                            <circle cx="39.369" cy="2.926" r="2.72"></circle>
                            <circle cx="51.405" cy="2.926" r="2.72"></circle>
                            <circle cx="63.441" cy="2.926" r="2.72"></circle>
                            <circle cx="75.479" cy="2.926" r="2.72"></circle>
                            <circle cx="87.514" cy="2.926" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 85)">
                            <circle cx="3.261" cy="3.006" r="2.72"></circle>
                            <circle cx="15.296" cy="3.006" r="2.719"></circle>
                            <circle cx="27.333" cy="3.006" r="2.72"></circle>
                            <circle cx="39.369" cy="3.006" r="2.72"></circle>
                            <circle cx="51.405" cy="3.006" r="2.72"></circle>
                            <circle cx="63.441" cy="3.006" r="2.72"></circle>
                            <circle cx="75.479" cy="3.006" r="2.72"></circle>
                            <circle cx="87.514" cy="3.006" r="2.719"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <svg class="absolute bottom-0 right-0 z-0 w-32 h-32 -mb-12 -mr-12 text-blue-600 fill-current" viewBox="0 0 91 91" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill-rule="evenodd">
                <g fill-rule="nonzero">
                    <g>
                        <g>
                            <circle cx="3.261" cy="3.445" r="2.72"></circle>
                            <circle cx="15.296" cy="3.445" r="2.719"></circle>
                            <circle cx="27.333" cy="3.445" r="2.72"></circle>
                            <circle cx="39.369" cy="3.445" r="2.72"></circle>
                            <circle cx="51.405" cy="3.445" r="2.72"></circle>
                            <circle cx="63.441" cy="3.445" r="2.72"></circle>
                            <circle cx="75.479" cy="3.445" r="2.72"></circle>
                            <circle cx="87.514" cy="3.445" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 12)">
                            <circle cx="3.261" cy="3.525" r="2.72"></circle>
                            <circle cx="15.296" cy="3.525" r="2.719"></circle>
                            <circle cx="27.333" cy="3.525" r="2.72"></circle>
                            <circle cx="39.369" cy="3.525" r="2.72"></circle>
                            <circle cx="51.405" cy="3.525" r="2.72"></circle>
                            <circle cx="63.441" cy="3.525" r="2.72"></circle>
                            <circle cx="75.479" cy="3.525" r="2.72"></circle>
                            <circle cx="87.514" cy="3.525" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 24)">
                            <circle cx="3.261" cy="3.605" r="2.72"></circle>
                            <circle cx="15.296" cy="3.605" r="2.719"></circle>
                            <circle cx="27.333" cy="3.605" r="2.72"></circle>
                            <circle cx="39.369" cy="3.605" r="2.72"></circle>
                            <circle cx="51.405" cy="3.605" r="2.72"></circle>
                            <circle cx="63.441" cy="3.605" r="2.72"></circle>
                            <circle cx="75.479" cy="3.605" r="2.72"></circle>
                            <circle cx="87.514" cy="3.605" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 36)">
                            <circle cx="3.261" cy="3.686" r="2.72"></circle>
                            <circle cx="15.296" cy="3.686" r="2.719"></circle>
                            <circle cx="27.333" cy="3.686" r="2.72"></circle>
                            <circle cx="39.369" cy="3.686" r="2.72"></circle>
                            <circle cx="51.405" cy="3.686" r="2.72"></circle>
                            <circle cx="63.441" cy="3.686" r="2.72"></circle>
                            <circle cx="75.479" cy="3.686" r="2.72"></circle>
                            <circle cx="87.514" cy="3.686" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 49)">
                            <circle cx="3.261" cy="2.767" r="2.72"></circle>
                            <circle cx="15.296" cy="2.767" r="2.719"></circle>
                            <circle cx="27.333" cy="2.767" r="2.72"></circle>
                            <circle cx="39.369" cy="2.767" r="2.72"></circle>
                            <circle cx="51.405" cy="2.767" r="2.72"></circle>
                            <circle cx="63.441" cy="2.767" r="2.72"></circle>
                            <circle cx="75.479" cy="2.767" r="2.72"></circle>
                            <circle cx="87.514" cy="2.767" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 61)">
                            <circle cx="3.261" cy="2.846" r="2.72"></circle>
                            <circle cx="15.296" cy="2.846" r="2.719"></circle>
                            <circle cx="27.333" cy="2.846" r="2.72"></circle>
                            <circle cx="39.369" cy="2.846" r="2.72"></circle>
                            <circle cx="51.405" cy="2.846" r="2.72"></circle>
                            <circle cx="63.441" cy="2.846" r="2.72"></circle>
                            <circle cx="75.479" cy="2.846" r="2.72"></circle>
                            <circle cx="87.514" cy="2.846" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 73)">
                            <circle cx="3.261" cy="2.926" r="2.72"></circle>
                            <circle cx="15.296" cy="2.926" r="2.719"></circle>
                            <circle cx="27.333" cy="2.926" r="2.72"></circle>
                            <circle cx="39.369" cy="2.926" r="2.72"></circle>
                            <circle cx="51.405" cy="2.926" r="2.72"></circle>
                            <circle cx="63.441" cy="2.926" r="2.72"></circle>
                            <circle cx="75.479" cy="2.926" r="2.72"></circle>
                            <circle cx="87.514" cy="2.926" r="2.719"></circle>
                        </g>
                        <g transform="translate(0 85)">
                            <circle cx="3.261" cy="3.006" r="2.72"></circle>
                            <circle cx="15.296" cy="3.006" r="2.719"></circle>
                            <circle cx="27.333" cy="3.006" r="2.72"></circle>
                            <circle cx="39.369" cy="3.006" r="2.72"></circle>
                            <circle cx="51.405" cy="3.006" r="2.72"></circle>
                            <circle cx="63.441" cy="3.006" r="2.72"></circle>
                            <circle cx="75.479" cy="3.006" r="2.72"></circle>
                            <circle cx="87.514" cy="3.006" r="2.719"></circle>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>